<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employees Dashboard</title>
</head>
<body>
<div align="center"><h1>!!!!!!!!!!!!!!!!!!Welcome!!!!!!!!!!!!!!!!!!!!!!!!!</h1></div>
<br>
</body>
</html>

<form action="#" th:action="@{/addEmployee}" method="post">
	<div align="center"><input type="submit" value="Add an employee"></div>
</form>
<br>
<br>
<form action="#" th:action="@{/getAllEmployees}" method="post">
	<div align="center"><input type="submit" value="View all employees"></div>
</form>
